.App {
  text-align: center;
  background-color: #2b2b2b;
}

.navbar {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 2px rgba(255, 255, 255 0.5);
}

.navbar-logo {
  height: 40px;
  vertical-align: middle;
}
